<div id="<%= dom_id card %>">
  <p>
    <strong>Account:</strong>
    <%= card.account_id %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= card.number %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= card.cvv %>
  </p>

</div>
